.elementor-20 .elementor-element.elementor-element-31a24d1 {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-39548fa>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-248051b {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-b0acb58>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-a044fc1 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-20 .elementor-element.elementor-element-a044fc1 .gsc-icon-box-group .icon-box-content .icon-inner {
    padding-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-a044fc1 .gsc-icon-box-group .icon-box-content .title {
    padding-bottom: 5px;
}

.elementor-20 .elementor-element.elementor-element-a044fc1 .gsc-icon-box-group .icon-box-content .title,
.elementor-20 .elementor-element.elementor-element-a044fc1 .gsc-icon-box-group .icon-box-content .title a {
    font-family: "Georgia", Sans-serif;
    font-size: 18px;
}

.elementor-20 .elementor-element.elementor-element-a044fc1>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var( --e-global-color-23e11f5);
}

.elementor-20 .elementor-element.elementor-element-94491d1 {
    padding: 0px 0px 50px 0px;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-7f0a78a.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-20 .elementor-element.elementor-element-7f0a78a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-20 .elementor-element.elementor-element-7f0a78a>.elementor-widget-wrap>div,
.elementor-20 .elementor-element.elementor-element-7f0a78a>.elementor-widget-wrap>section {
    max-width: 600px;
    width: 100%;
}

.elementor-20 .elementor-element.elementor-element-7f0a78a>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-06bdd4d .gsc-image-content .box-content .title {
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-06bdd4d .gsc-image-content .box-content .desc {
    margin-bottom: 10px;
}

.elementor-20 .elementor-element.elementor-element-06bdd4d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-a565419>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-20 .elementor-element.elementor-element-6a89c07 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-20 .elementor-element.elementor-element-6a89c07 .gsc-heading {
    margin-bottom: 20px;
}

.elementor-20 .elementor-element.elementor-element-6a89c07 .gsc-heading .title {
    color: #000000;
    font-family: "Georgia", Sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-6a89c07 .gsc-heading .sub-title {
    color: #000000;
    margin-bottom: 0px;
    font-family: "Georgia", Sans-serif;
    font-size: 20px;
}

.elementor-20 .elementor-element.elementor-element-6a89c07 .gsc-heading .title-desc {
    color: #000000;
    font-family: "Georgia", Sans-serif;
    font-size: 15px;
    padding: 20px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-6a89c07>.elementor-widget-container {
    margin: 70px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-573c65a {
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-77fe41d {
    padding: 20px 0px 100px 0px;
}

.elementor-20 .elementor-element.elementor-element-ff990b3>.elementor-element-populated {
    padding: 0px 5px 0px 5px;
}

.elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading {
    margin-bottom: 20px;
}

.elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading .title {
    font-family: "Georgia", Sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading .sub-title {
    color: #000000;
    margin-bottom: 0px;
    font-family: "Georgia", Sans-serif;
    font-size: 20px;
}

.elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-04ca7f8 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-20 .elementor-element.elementor-element-04ca7f8 .gsc-counter-group .counter-content .title {
    padding-bottom: 5px;
}

.elementor-20 .elementor-element.elementor-element-f41f84f>.elementor-element-populated {
    padding: 0px 5px 0px 5px;
}

.elementor-20 .elementor-element.elementor-element-f9ce08d img {
    border-radius: 20px 20px 20px 20px;
}

.elementor-20 .elementor-element.elementor-element-f9ce08d>.elementor-widget-container {
    margin: 100px 50px 0px -200px;
}

.elementor-20 .elementor-element.elementor-element-37128b5>.elementor-container {
    max-width: 1800px;
}

.elementor-20 .elementor-element.elementor-element-37128b5:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-37128b5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://faralresourcesltd.com/wp-content/uploads/2022/06/bg-6.jpg");
}

.elementor-20 .elementor-element.elementor-element-37128b5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-37128b5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-2860fd1>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-ea85cc3:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-ea85cc3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://faralresourcesltd.com/wp-content/uploads/2022/04/image-18.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-20 .elementor-element.elementor-element-ea85cc3>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.36;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-ea85cc3,
.elementor-20 .elementor-element.elementor-element-ea85cc3>.elementor-background-overlay {
    border-radius: 8px 8px 8px 8px;
}

.elementor-20 .elementor-element.elementor-element-ea85cc3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 30px 50px 30px;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-dddf65b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-dddf65b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-dddf65b>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-4cfd586 {
    text-align: left;
}

.elementor-20 .elementor-element.elementor-element-4cfd586 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Handlee", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-ce7473f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-ce7473f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-ce7473f.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-20 .elementor-element.elementor-element-ce7473f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-10c72dc {
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-5da09a8>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-96e3347:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-96e3347>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://faralresourcesltd.com/wp-content/uploads/2022/04/bg-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-20 .elementor-element.elementor-element-96e3347>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.36;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-96e3347,
.elementor-20 .elementor-element.elementor-element-96e3347>.elementor-background-overlay {
    border-radius: 8px 8px 8px 8px;
}

.elementor-20 .elementor-element.elementor-element-96e3347 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 30px 50px 30px;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-5079529.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-5079529.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-5079529>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-88c0929 {
    text-align: left;
}

.elementor-20 .elementor-element.elementor-element-88c0929 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Handlee", Sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-d892ba0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-d892ba0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-d892ba0.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-20 .elementor-element.elementor-element-d892ba0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-49e0288 {
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-63739eaf:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-63739eaf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1F1E17;
}

.elementor-20 .elementor-element.elementor-element-63739eaf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 35px;
    padding: 90px 0px 95px 0px;
}

.elementor-20 .elementor-element.elementor-element-63739eaf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-73764d9c>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading .content-inner {
    max-width: 580px;
}

.elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading {
    margin-bottom: 20px;
}

.elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading .title {
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading .sub-title {
    color: var( --e-global-color-primary);
    margin-bottom: 0px;
    font-family: "Georgia", Sans-serif;
    font-size: 20px;
}

.elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading .sub-title .tagline {
    border-bottom-color: #605521;
}

.elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-71066881 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-20 .elementor-element.elementor-element-71066881 .gsc-icon-box-group .icon-box-item {
    background-color: #181712;
}

.elementor-20 .elementor-element.elementor-element-71066881 .gsc-icon-box-group .icon-box-content .icon-inner {
    padding-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-71066881 .gsc-icon-box-group .icon-box-content .title {
    padding-bottom: 5px;
    color: #FFFFFF;
}

.elementor-20 .elementor-element.elementor-element-71066881 .gsc-icon-box-group .icon-box-content .title a {
    color: #FFFFFF;
}

.elementor-20 .elementor-element.elementor-element-71066881 .gsc-icon-box-group .icon-box-content .title,
.elementor-20 .elementor-element.elementor-element-71066881 .gsc-icon-box-group .icon-box-content .title a {
    font-family: "Georgia", Sans-serif;
    font-size: 15px;
}

.elementor-20 .elementor-element.elementor-element-71066881>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-3fb469f .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-20 .elementor-element.elementor-element-1a1ada3:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-1a1ada3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-9e78dc2);
}

.elementor-20 .elementor-element.elementor-element-1a1ada3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 65px 0px 40px 0px;
}

.elementor-20 .elementor-element.elementor-element-1a1ada3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-941c81d>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading {
    margin-bottom: 20px;
}

.elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading .title {
    color: #000000;
    font-family: "Georgia", Sans-serif;
}

.elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading .sub-title {
    color: #000000;
    margin-bottom: 0px;
    font-family: "Georgia", Sans-serif;
}

.elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-6a2c0c5 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 10px;
}

.elementor-20 .elementor-element.elementor-element-9b26883 {
    padding: 90px 0px 115px 0px;
}

.elementor-20 .elementor-element.elementor-element-45d45da>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading {
    margin-bottom: 20px;
}

.elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading .title {
    color: #000000;
    font-family: "Georgia", Sans-serif;
}

.elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading .sub-title {
    color: #000000;
    margin-bottom: 0px;
    font-family: "Georgia", Sans-serif;
}

.elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading .title-desc {
    font-family: "Georgia", Sans-serif;
    padding: 20px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 30px;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .testimonial-content {
    color: #000000;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .icon-quote {
    color: #000000;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .testimonial-item .testimonial-content {
    font-family: "Georgia", Sans-serif;
    font-size: 8px;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .testimonial-name {
    color: #000000 !important;
    font-family: "Georgia", Sans-serif;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .dot {
    color: #000000;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .testimonial-job {
    color: #000000 !important;
}

.elementor-20 .elementor-element.elementor-element-8ad0761 .elementor-testimonial-job {
    font-family: "Georgia", Sans-serif;
    font-size: 10px;
}

.elementor-20 .elementor-element.elementor-element-ad6dc21:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-ad6dc21>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-9e78dc2);
}

.elementor-20 .elementor-element.elementor-element-ad6dc21 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 115px 0px 90px 0px;
}

.elementor-20 .elementor-element.elementor-element-ad6dc21>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-98f456c>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-20 .elementor-element.elementor-element-cb8911f .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-20 .elementor-element.elementor-element-cb8911f .gsc-heading {
    margin-bottom: 20px;
}

.elementor-20 .elementor-element.elementor-element-cb8911f .gsc-heading .title {
    color: #000000;
    font-family: "Georgia", Sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-cb8911f .gsc-heading .sub-title {
    color: #000000;
    margin-bottom: 0px;
    font-family: "Georgia", Sans-serif;
    font-size: 20px;
}

.elementor-20 .elementor-element.elementor-element-cb8911f .gsc-heading .title-desc {
    color: #000000;
    padding: 20px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-ff66cad .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-20 .elementor-element.elementor-element-ff66cad .gva-posts .entry-content .entry-title a {
    color: #000000;
    font-family: "Georgia", Sans-serif;
    font-size: 18px;
}

.elementor-20 .elementor-element.elementor-element-ff66cad .gva-posts .entry-content .entry-description {
    font-family: "Georgia", Sans-serif;
    font-size: 15px;
}

@media(max-width:1024px) {
    .elementor-20 .elementor-element.elementor-element-31a24d1 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-94491d1 {
        padding: 70px 0px 20px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-6a89c07>.elementor-widget-container {
        padding: 0px 015px 0px 015px;
    }
    .elementor-20 .elementor-element.elementor-element-77fe41d {
        padding: 50px 0px 70px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-f9ce08d>.elementor-widget-container {
        margin: 100px 0px 0px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-ea85cc3 {
        padding: 50px 15px 50px 15px;
    }
    .elementor-20 .elementor-element.elementor-element-4cfd586 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-20 .elementor-element.elementor-element-96e3347 {
        padding: 50px 15px 50px 15px;
    }
    .elementor-20 .elementor-element.elementor-element-88c0929 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-20 .elementor-element.elementor-element-63739eaf {
        padding: 45px 0px 55px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-2ac96c81>.elementor-widget-container {
        padding: 20px 0px 0px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-71066881>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-1a1ada3 {
        padding: 65px 0px 60px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-9b26883 {
        padding: 45px 0px 65px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-ad6dc21 {
        padding: 70px 0px 40px 0px;
    }
}

@media(max-width:767px) {
    .elementor-20 .elementor-element.elementor-element-6a89c07 .gsc-heading .title {
        font-size: 35px;
    }
    .elementor-20 .elementor-element.elementor-element-6a89c07>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }
    .elementor-20 .elementor-element.elementor-element-ff990b3>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading .title {
        font-size: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-ebc0e3c .gsc-heading .sub-title {
        font-size: 18px;
    }
    .elementor-20 .elementor-element.elementor-element-04ca7f8>.elementor-widget-container {
        padding: 0px 0px 30px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-f41f84f {
        width: 100%;
    }
    .elementor-20 .elementor-element.elementor-element-f41f84f>.elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
    .elementor-20 .elementor-element.elementor-element-f9ce08d {
        text-align: center;
    }
    .elementor-20 .elementor-element.elementor-element-f9ce08d img {
        max-width: 91%;
    }
    .elementor-20 .elementor-element.elementor-element-f9ce08d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-ea85cc3 {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .elementor-20 .elementor-element.elementor-element-4cfd586 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-ce7473f.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-20 .elementor-element.elementor-element-ce7473f>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-20 .elementor-element.elementor-element-88c0929 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-d892ba0.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-20 .elementor-element.elementor-element-d892ba0>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-20 .elementor-element.elementor-element-2ac96c81 .gsc-heading .title {
        font-size: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-2ac96c81>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading {
        margin-bottom: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-d265bab .gsc-heading .title {
        font-size: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading {
        margin-bottom: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading .title {
        font-size: 25px;
    }
    .elementor-20 .elementor-element.elementor-element-bc33694 .gsc-heading .sub-title {
        font-size: 15px;
    }
    .elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .testimonial-item .testimonial-content {
        font-size: 10px;
    }
    .elementor-20 .elementor-element.elementor-element-8ad0761 .gsc-testimonial .testimonial-name {
        font-size: 10px;
    }
    .elementor-20 .elementor-element.elementor-element-8ad0761 .elementor-testimonial-job {
        font-size: 15px;
    }
    .elementor-20 .elementor-element.elementor-element-cb8911f .gsc-heading .title {
        font-size: 25px;
    }
}

@media(min-width:768px) {
    .elementor-20 .elementor-element.elementor-element-7f0a78a {
        width: 46.75%;
    }
    .elementor-20 .elementor-element.elementor-element-a565419 {
        width: 53.25%;
    }
    .elementor-20 .elementor-element.elementor-element-ff990b3 {
        width: 72%;
    }
    .elementor-20 .elementor-element.elementor-element-f41f84f {
        width: 28%;
    }
    .elementor-20 .elementor-element.elementor-element-dddf65b {
        width: 65.825%;
    }
    .elementor-20 .elementor-element.elementor-element-ce7473f {
        width: 32.312%;
    }
    .elementor-20 .elementor-element.elementor-element-5079529 {
        width: 63.137%;
    }
    .elementor-20 .elementor-element.elementor-element-d892ba0 {
        width: 35%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-20 .elementor-element.elementor-element-7f0a78a {
        width: 100%;
    }
    .elementor-20 .elementor-element.elementor-element-a565419 {
        width: 100%;
    }
    .elementor-20 .elementor-element.elementor-element-ff990b3 {
        width: 56%;
    }
    .elementor-20 .elementor-element.elementor-element-f41f84f {
        width: 44%;
    }
}

@media(min-width:1025px) {
    .elementor-20 .elementor-element.elementor-element-ea85cc3:not(.elementor-motion-effects-element-type-background),
    .elementor-20 .elementor-element.elementor-element-ea85cc3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
    .elementor-20 .elementor-element.elementor-element-96e3347:not(.elementor-motion-effects-element-type-background),
    .elementor-20 .elementor-element.elementor-element-96e3347>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}